API_TOKEN=
SECRET_KEY=
DEBUG=False
ADMINS=
ALLOWED_HOSTS=127.0.0.1,localhost
LOG_LEVEL=INFO

# Forwarding config
OLD_GROUP_ID=
NEW_GROUP_ID=
FORWARD_QUEUE_MAXSIZE=2000
FORWARD_WORKERS=5

# Database (set USE_SQLITE=False for Postgres)
USE_SQLITE=True
DB_USER=postgres
DB_PASS=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432
